body{
    background: rgb(0, 0, 0);
} header{
    color: red;
    text-align: center;
} section {
    background: rgb(88, 88, 88);
    border-radius: 4px;
    color:white;
    padding: 14px;
    font-style: normal;
    font-size: 15pt;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.603);
} footer {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    padding:  20px;
}